{% extends "base.html" %}
{% load tailwind_filters %}

{% block content %}

<section class=" text-gray-700 body-font items-center justify-center text-center">
  <div class="h-full mb-10 items-center justify-center ">
        <div class="items-center justify-center ">

                <div class="flex flex-col text-center ">
                <h1 class="text-4xl text-center text-[#004aad] font-extrabold">Connect Google Sheets</h1>
        
                <a class="text-gray-500 dark:text-gray-200 hover:text-blue-500" href="{% url 'leads:lead-list' %}">
                    Go back to leads
                </a><br>
</div>
        </div>
        <div class="w-full mb-10 text-center mt-14">
            <form method="post" class="gap-x-2.5 flex flex-wrap mt-5 items-center justify-center ">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="w-full">
        <button type='submit' class="w-1/4 text-white bg-blue-500 hover:bg-blue-600 px-3 py-2 rounded-md">
            Connect
        </button>
        </div>
    </form>
</div>
        <div class="flex flex-col ">
            <div class="my-2 overflow-x-auto sm:-mx-6 lg:-mx-8 ">
            <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                <div class="shadow overflow-hidden border-b border-blue-600 sm:rounded-lg   ">
                <table class="min-w-full divide-y 1/2">
                    <thead class="bg-gray-50" >
                        <tr>
                            <th scope="col" class="px-8 py-3 text-centre text-xs font-medium text-white bg-blue-800 dark:bg-gray-900  gap-x-2.5  uppercase tracking-wider">
                            Source 
                            </th>

                            <th scope="col" class="px-8 py-3 text-centre text-xs font-medium text-white bg-blue-800 dark:bg-gray-900  gap-x-2.5  uppercase tracking-wider">
                            Url 
                            </th>

                            <th scope="col" class="px-8 py-3 text-centre text-xs font-medium text-white bg-blue-800 dark:bg-gray-900  gap-x-2.5  uppercase tracking-wider">
                        Sheet name
                        </th>
                            <th scope="col" class="px-8 py-3 text-centre text-xs font-medium text-white bg-blue-800 dark:bg-gray-900  gap-x-2.5  uppercase tracking-wider">
                        Delete
                        </th>
                        </tr>
                    </thead>
        
<tbody>
                {% for sheet in sheets %}
                            <tr class="bg-gray-100 dark:bg-gray-900 text-center">
                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-400">
                                    <a class="text-blue-800 dark:text-indigo-600 hover:text-blue-800">{{ sheet.source }}</a>
                                </td>

                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-600 dark:text-gray-200  text-center ">
                            {{ sheet.url }}
                                </td>

                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-600 dark:text-gray-200  text-center ">
                                {{ sheet.sheet_name }}
                                </td>

                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-center">
                                    <a href="{% url 'leads:delete-sheet' sheet.pk %}" class="text-blue-800 dark:text-gray-200 hover:text-indigo-900">
                                        Delete
                                    </a>
                                </td>

                            </tr>
     {%endfor %}
                    </tbody>
                </table>


</div></div></div></div></div>
    </section> 



{% endblock content %}
