{% extends "base.html" %}
{% load tailwind_filters %}

{% block content %}


<div class=" mx-auto">
  <a class="hover:text-blue-500" href="{% url 'leads:lead-list' %}">Go back to leads</a>
  <div class="py-5 border-t border-gray-200">
    <h1 class="text-4xl text-center text-[#004aad] font-extrabold">Dashboard stats</h1>
  </div>
  <form method="get" class="gap-x-5 flex flex-wrap mt-8 items-center justify-center" action="{% url 'dashboard_list' %}">
    {{ form|crispy }}
    <button type='submit' class="w-1/3 mt-3 text-white bg-blue-700 border-0 py-3 px-3 focus:outline-none hover:bg-indigo-600 rounded">
    Show stats
    </button>
  </form>
</div>
</div>
{% endblock content %}
