{% extends "base.html" %}
{% load tailwind_filters %}

{% block content %}

<div class="container px-5 mx-auto">
    <a class="hover:text-blue-500" href="{% url 'leads:lead-list' %}">Go back to leads</a>
    <div class="py-5 border-t border-gray-200">
        <h1 class="text-4xl text-center text-[#004aad] font-extrabold">Create new lead</h1>
    </div>

    <form method="post" class="grid gap-1 grid-cols-2  flex flex-wrap">
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <button type='submit' class="w-max text-white bg-blue-700 border-0 py-3 px-11 focus:outline-none hover:bg-indigo-600 rounded">
            Submit
        </button>
    </form>
</div>

{% endblock content %}
