{% extends "base.html" %}
{% load tailwind_filters %}

{% block content %}


<div class="container px-5 mx-auto">
    <div class="w-4/5 mx-auto flex flex-wrap">
            <div class="w-full lg:pr-10  mb-6 lg:mb-0">
<a class="hover:text-blue-500" href="{% url 'leads:lead-list' %}">Go back to leads</a>
<div class="py-5 border-t border-gray-200">
    <h1 class="text-4xl text-center text-[#004aad] font-extrabold ">Search leads</h1>
</div>


<form method="get" class="grid gap-1 grid-cols-2  flex flex-wrap" action="{% url 'leads:lead-list' %}">
    {{ form|crispy }}
    <br>
    <button type='submit' class="w-max  text-white bg-blue-700 border-0 py-3 px-11 focus:outline-none hover:bg-indigo-600 rounded">
    Filter Leads
    </button>
</form>


</div></div></div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
    $(document).ready(function() {
        for (let field of ['source', 'service', 'country', 'agent', 'campaign', 'category', 'tag']) {
            $(`select[name="${field}"]`).select2();
        }
    });
</script>

{% endblock content %}
