{% extends "base.html" %}
{% load tailwind_filters %}

{% block content %}



<div class="max-w-lg mx-auto mt-32">
    <a class="hover:text-blue-500" href="{% url 'leads:lead-list' %}">Go back to leads</a>
    <div class="py-5 border-t border-gray-200">
        <h1 class="text-4xl text-center text-[#004aad] font-extrabold mb-10">Upload CSV | Select Agent</h1>
        <div class="mt-3">
            <a class="w-full rounded-md bg-[#004aad]  py-2 px-3 text-white" href="{% url 'leads:leads-upload' %}">
                Unassigned Upload
            </a>
        </div>
        <div class="mt-4">
            <a class="w-full rounded-md bg-indigo-500 py-2 px-3 text-white" href="{% url 'leads:leads-upload-random' %}">
                Random Assign
            </a>
        </div>
    </div>
    <form method="post" class="mt-5" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <button type='submit' class="w-full text-white bg-blue-500 hover:bg-blue-600 px-3 py-2 rounded-md">
            Upload
        </button>
    </form>
</div>

{% endblock content %}
