{% extends "base.html" %}
{% load tailwind_filters %}

{% block content %}

<div class="mx-16 mt-32 max-w-lg mx-auto">
    <a class="hover:text-blue-500" href="{% url 'leads:lead-list' %}">Go back to leads</a>
    <div class="py-5 border-t border-gray-200">
        <h1 class="text-4xl text-gray-800">Upload a CSV file</h1>
        <div class="mt-3">
            <a class="w-full rounded-md bg-blue-500 py-2 px-3" href="{% url 'leads:leads-upload-random' %}">
                Assign random agent
            </a>
        </div>
        <div class="mt-4">
            <a class="w-full rounded-md bg-green-100 py-2 px-3" href="{% url 'leads:leads-upload-selected' %}">
                Select agent to assign
            </a>
        </div>
    </div>
    <form method="post" class="mt-5" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <button type='submit' class="w-full text-white bg-blue-500 hover:bg-blue-600 px-3 py-2 rounded-md">
            Upload
        </button>
    </form>
</div>

{% endblock content %}
