{% extends "base.html" %}
{% load tailwind_filters %}

{% block content %}

<div class="max-w-lg mx-auto mt-32 mb-52">
  <a class="hover:text-blue-500" href="{% url 'leads:sales-report-list' %}">Go back to reports</a>
  <div class="py-5 border-t border-gray-200">
    <h1 class="text-4xl text-center text-[#004aad] font-extrabold">Sales Performance Report</h1>
  </div>
  <div class="w-full mx-auto overflow-auto flex justify-between">
    <table class="table-auto w-full text-left whitespace-no-wrap">
      <tr class="mb-5 mt-5">
        <th class="text-base border border-slate-300 px-4 py-3 title-font tracking-wider font-large text-gray-200 text-sm bg-blue-800  rounded-tl rounded-bl">Agent</th>
        <td class="text-blue-800 font-bold px-4 py-3 bg-gray-300 text-center rounded">{{ report.agent }}</td>
      </tr>
      <tr>
        <th class="text-base border border-slate-300 px-4 py-3 title-font tracking-wider font-large text-gray-200 text-sm bg-blue-800  rounded-tl rounded-bl">Year</th>
        <td class="text-blue-800 font-bold px-4 py-3 bg-gray-300 text-center rounded">{{ report.year }}</td>
      </tr>
      <tr>
        <th class="text-lg border border-slate-300 px-4 py-3 title-font tracking-wider font-large text-gray-200 text-sm bg-blue-800  rounded-tl rounded-bl">Month</th>
        <td class="text-blue-800 font-bold px-4 py-3 bg-gray-300 text-center rounded ">{{ report.month }}</td>
      </tr>
      <tr>
        <th class="text-base border border-slate-300 px-4 py-3 title-font tracking-wider font-large text-gray-200 text-sm bg-blue-800  rounded-tl rounded-bl">Performance</th>
        <td class="text-blue-800 font-bold px-4 py-3 bg-gray-300 text-center rounded">{{ report.performance }}%</td>
      </tr>
      <tr>
        <th class="text-base border border-slate-300 px-4 py-3 title-font tracking-wider font-large text-gray-200 text-sm bg-blue-800  rounded-tl rounded-bl">KPI Rate</th>
        <td class="text-blue-800 font-bold px-4 py-3 bg-gray-300 text-center rounded">{{ report.kpi_rate }}%</td>
      </tr>
      <tr>
        <th class="text-base border border-slate-300 px-4 py-3 title-font tracking-wider font-large text-gray-200 text-sm bg-blue-800  rounded-tl rounded-bl">Revenu</th>
        <td class="text-blue-800 font-bold px-4 py-3 bg-gray-300 text-center rounded">{{ report.revenu }}%</td>
      </tr>
      <tr>
        <th class="text-base border border-slate-300 px-4 py-3 title-font tracking-wider font-large text-gray-200 text-sm bg-blue-800  rounded-tl rounded-bl">Best Service</th>
        <td class="text-blue-800 font-bold px-4 py-3 bg-gray-300 text-center rounded">{{ report.best_service }}%</td>
      </tr>
      <tr>
        <th class="text-base border border-slate-300 px-4 py-3 title-font tracking-wider font-large text-gray-200 text-sm bg-blue-800  rounded-tl rounded-bl">Customer Support</th>
        <td class="text-blue-800 font-bold px-4 py-3 bg-gray-300 text-center rounded">{{ report.customer_support }}%</td>
      </tr>
      <tr>
        <th class="text-center text-base border border-slate-300 px-4 py-3 title-font tracking-wider font-large text-gray-200 text-sm bg-gray-700  rounded-tl rounded-bl">FINAL AGENT RATE</th>
        <td class="text-gray-200 font-bold px-4 py-3 bg-gray-700 text-center ">{{ report.total_rate }}%</td>
      </tr>
    </table>
  </div>
</div>
{% endblock content %}
