{% extends "base.html" %}
{% load tailwind_filters %}

{% block content %}

<div class="w-full text-center items-center justify-center ">
  <a class="hover:text-blue-500" href="{% url 'leads:lead-list' %}">Go back to leads</a>
  <div class="py-5 border-t border-gray-200">
    <h1 class="text-4xl text-center text-[#004aad] font-extrabold">Sales report</h1>
  </div>

  <form method="post" class="grid gap-2 grid-cols-2  flex flex-wrap mt-4 " action="">
    {% csrf_token %}
    {{ form|crispy }}
        <button type='submit' class="w-1/2 mt-3 text-white bg-blue-700 border-0 py-3 px-3 focus:outline-none hover:bg-indigo-600 rounded">
    Show result
    </button>
  </form>


</div>
{% endblock content %}
