{% extends "base.html" %}
{% load tailwind_filters %}

{% block content %}

<div class=" mx-auto">
  <a class="hover:text-blue-500" href="{% url 'leads:lead-list' %}">Go back to leads</a>
  <div class="py-5 border-t border-gray-200">
    <h1 class="text-4xl text-center text-[#004aad] font-extrabold">Agent stats</h1>
  </div>
  <form method="get" class="gap-x-5 flex flex-wrap mt-8 items-center justify-center" action="{% url 'leads:stats_list' %}">
    {{ form|crispy }}
    <br>
    <button type='submit' class="w-max mt-3 text-white bg-blue-700 border-0 py-3 px-3 focus:outline-none hover:bg-indigo-600 rounded">
    Show stats
    </button>
  </form>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
  $(document).ready(function() {
    $('select[name="agent"]').select2();
  });
</script>

{% endblock content %}
