{% extends "base.html" %}

{% block content %}


<section class="mx-16 mt-32 text-gray-700 body-font">
  <div class="h-full ml-14 mt-14 mb-10 md:ml-64">
        <div class="items-center">

                <div class="flex flex-col text-center ">
                <h1 class="text-4xl text-center text-[#004aad] font-extrabold">Agents</h1>
                <a class="text-gray-500 dark:text-gray-200 hover:text-blue-500" href="{% url 'agents:agent-create' %}">
                    Create a new agent
                </a><br>
</div>
        </div>

        <div class="flex flex-col w-full">
            <div class="my-2 overflow-x-auto sm:-mx-6 lg:-mx-8 ">
            <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                <div class="shadow overflow-hidden border-b border-blue-600 sm:rounded-lg">
                <table class="min-w-full divide-y">
                    <thead class="bg-gray-50" >
                        <tr>
                            <th scope="col" class="px-8 py-3 text-centre text-xs font-medium text-white bg-blue-800 dark:bg-gray-900  gap-x-2.5  uppercase tracking-wider">
                            Full Name
                            </th>

                            <th scope="col" class="px-8 py-3 text-centre text-xs font-medium text-white bg-blue-800 dark:bg-gray-900  gap-x-2.5  uppercase tracking-wider">
                            Email
                            </th>

                            <th scope="col" class="px-8 py-3 text-centre text-xs font-medium text-white bg-blue-800 dark:bg-gray-900  gap-x-2.5  uppercase tracking-wider">
                            Edit
                            <br>
                        </tr>
                    </thead>
        
<tbody>
                {% for agent in object_list %}
                            <tr class="bg-gray-100 dark:bg-gray-900 text-center">
                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-400">
                                    <a class="text-blue-800 dark:text-indigo-600 hover:text-blue-800">{{ agent.user.first_name }} {{ agent.user.last_name }}</a>
                                </td>

                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-600 dark:text-gray-200  text-center ">
                                {{ agent.user.email }}
                                </td>

                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-center">
                                    <a href="{% url 'agents:agent-update' agent.pk %}" class="text-blue-800 dark:text-gray-200 hover:text-indigo-900">
                                        Edit
                                    </a>
                                </td>

                            </tr>
                            {% empty %}
                            <p>There are currently no agents</p>
                            {% endfor %}
                    </tbody>
                </table>


</div></div></div></div></div>
    </section> 
{% endblock content %}
