{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>W2M TRADING CRM</title>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
      <link href="{% static 'navbar.css' %}" rel="stylesheet">
    <link href="{% static 'sidebar.css' %}" rel="stylesheet">
      <script src="{% static 'navbar.js' %}"></script>
      <script src="https://cdn.tailwindcss.com"></script>
      <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.0/dist/alpine.min.js" defer></script>
</head>


<body>
<div x-data="setup()" :class="{ 'dark': isDark }">
    <div class=" min-h-screen flex flex-col flex-auto flex-shrink-0 antialiased bg-white dark:bg-gray-700 text-black dark:text-white">
        <div class="mb-16 ml-5 mr-11">
        {% include 'navbar.html' %}
        </div>
  
        {% include 'sidebar.html' %}


            <div class="ml-16 h-full ml-14 mt-14 mb-10 md:ml-72">
        <div class="grid grid-cols-1  p-4 gap-4">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </div>
</div>

    {% include "scripts.html" %}
</body>


</html>
